@font-face {
    font-family: 'BentonSans';
    src: url('/fonts/BentonSans Regular.otf');
}

@font-face {
    font-family: 'BentonSans Bold';
    src: url('/fonts/BentonSans Bold.otf');
}

@font-face{
	font-family: 'BentonSans Light Regular';
	src: url('/fonts/BentonSans Light Regular.otf');
}

/*@font-face{
	font-family: 'Century Gothic';
	src: url('/fonts/Century Gothic.ttf');
}*/
/*Century Gothic*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

li { list-style-type: none; }

body {
	font: 14px 'Raleway';
	background: #f8f8fa;
}

/*styling the heading*/
h2, h3, h4 { color: #333; }

h2 {  font: 40px "Raleway"; font-weight: bold; }
h3 {  font: 18px "Raleway"; font-weight: bold; }
h4 {  font: 14px "Raleway";}
h5 {  font: 12px "Raleway";}

a {
	font:  12px "Raleway";
	text-decoration: none;
}

div[role="button"]{
	cursor: pointer;
}

header:before,
main:before,
article:before,
section:before,
footer:before,

/* The split between before and after in the same css */

header:after,
main:after,
article:after,
section:after,
footer:after {

	display: table;
	content: '';
}

header:after,
main:after,
article:after,
section:after,
footer:after {
	clear: both;
}

/* main css */
::selection{
	color: #fff;
	background: #00af66;
}

.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.text-center {
	text-align: center;
}

.latar-belakang-text {
	line-height: 24px;
}


.clear-margin-row {
	margin-left: 0;
	margin-right: 0;
}

.clear-padding-col {
	padding-left: 0px;
	padding-right: 0px;
}

.title-sections {
	text-align: center;
	width: 100%;
}

.content-sections {
	padding: 20px 0px;
}

.title-white {
	color: #fff !important;
}

.margin-20 {
	margin: 20px 0px;
}

.title-teams h2 {
	color: #ececec !important;
}

.title-teams .line-border {
	background-color: white !important;
}

.title-teams .sub-title-sections {
	color: #fff !important;
}

.clear-padding-right-col {
	padding-right: 0px;
}

.right {float: right;}
.left {float:left;}


#logo {
	margin-top: 3px;
}

#logo img {
	position: relative;
	width: 180px;
	bottom: 15px;
}

.first-header {
	border-bottom: 1px solid #ececec;
	vertical-align: middle;
	height: 70px;
	padding: 18px;
	position: fixed;
	top: 30px;
	transition: top 0.2s ease-in-out;
	z-index: 99;
	width: 100%;
	margin-bottom: 70px;
	background: #fff;
}

.nav-bar {
	text-align: right;
	margin-top: 4px;
	position: relative;
	top: 3px;
}

.nav-bar ul li {
	display: inline-block;
}

.nav-bar ul li a {
	color: #202121;
	padding:15px 20px 30px 20px;
	font-weight: bold;
	transition: all 0.3s;
	cursor: pointer;
}

.nav-bar ul li a:hover {
	color: #00af66;
	text-decoration: none;
}

.nav-bar ul li ul {
	visibility: hidden;
	position: absolute;
	z-index: 201;
	text-align: left;
	margin-top: 25px;
	background: #333;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	transform: translateY(-20px);
	transition-delay: 0.1s;
}

.nav-bar ul li:hover ul {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}

/*.nav-bar ul li:last-child:hover a {
	color: #333 !important;
}*/ /*just for a while*/

.nav-bar ul li ul li:last-child:hover a {
	color: #800000 !important;
}

.nav-bar ul li ul li a:hover {
	background: #111;
}

.nav-bar ul li ul li {
	display: block;
	margin-left: 0 !important;
}

.nav-bar ul li ul li a {
	display: block;
	background: #333;
	color: #fff;
	padding: 20px 30px;
}

.nav-bar ul li:last-child ul {
	text-align: right;
	right: 2.5%;
}

.nav-up {
	top: -100px;
}

#nav-icon1 {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 70px;
	border-right: 1px solid #e0e0e0;
	padding: 25px 40px;
	cursor: pointer;
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg);
}

.icon-nav span {
	display: block;
	width: 12px;
	height: 4px;
	background: #333;
	position: relative;
}

.icon-nav span:nth-child(2){
	top: 3px;
	width: 20px;
}

.icon-nav span:nth-child(3){
	top: 6px;
	width: 17px;
}

body {
	transition: 0.5s;
}

body:before {
	content: "";
	width: 100%;
	height: 100vh;
	background: #000;
	opacity: 0;
	position: fixed;
	z-index: 999;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
}

body.special:before {
	content: "";
	visibility: visible;
	opacity: 0.7;
}

.icon-line {
	margin-right: 10px;
}
/*vertical navbar*/
.vertical-navbar-open {
	position: fixed;
	top: 0;
	/*bottom: 0;*/
	right: 0;
	z-index: 999;
	width: 320px;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	transform: translateX(320px);
	height: 100vh;
	background: #f4f7f6;
	overflow-y: auto;
}

.vertical-navbar-open .static-form {
	position: static;
	width: 100%;
	height: 100vh;
}

.open-navbar {
	transform: translateX(-320px);
	width: 100%;
	min-height: 100%;
	display: block;
	overflow-y:hidden;
}

.open-this-navbar {
	display: block !important;
}

.button-close-navbar-vertical {
	height: 100px;
	cursor: pointer;
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
	transition: all 0.4s;
	position: static;
	display: block;
}

.button-close-navbar-vertical:hover {
	background: #f0f0f0;
}

.button-close-navbar-vertical strong {
	font-size: 20px;
	position: relative;
	bottom: 2px;
}

.navbar-vertical ul li {
	list-style: none;
}

.navbar-vertical ul li a {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}

.navbar-vertical ul li ul {
	display: none;
	background: #eee;
}

/*section slider*/
.slider {
	background: #ffffff;
	overflow: hidden;
	position: relative;
	margin-top: 70px;
}

.boxedcontainer {
	max-width: 1170px;
	margin:auto;
	padding:0px 30px;
}

.tp-banner-container{
	width:100% !important;
	position:relative;
	padding:0;

}
.atascol{
	margin-top: -80px;
}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

#banner{
	width: 100%;
	height: 380px;
	/*background-size: cover;*/
	background: url("/img/banner/banner.jpg");
	background-position: 50% 50%;
}
.title_banner{
	font-size: 60px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 90px;
	letter-spacing: 3px;
	font-family: "Century Gothic", sans-serif
}
.theme_banner{
	font-size: 25px;
	color: #ececec;
	font-style: italic;
	font-weight: lighter;
}

#banner strong {
	color: #fff;
}

/*end section slider*/

/*profile*/

.profile {
	width: 100%;
	overflow: hidden;
	padding: 30px 0px;
}

/*end sections profile*/

/*division*/

section.division {
	background: #800000;
	padding: 30px 0px;
}

.list-of-division {
	text-align: center;
	padding: 0px 40px;
	position: relative;
}

.images-fill {
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}

.images-fill a {
	width:50%;
	position:absolute;
	bottom:25%;
	left:25%;
	right: 25%;
	text-decoration: none;
}

.modal-header{
	background:#800000;
}

.modal-header > h4{
	color:#fff;
	letter-spacing: 2px;
}

.modal-body{

}

.modal-footer > .btn{
	color:#333;
	transition: 0.4s ease-out;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #666;
}
.modal-footer > .btn:hover{
	color:#fff;
	background:#800000;
}


/*end sections division*/

section.program{
	padding: 30px 0;
	background: #f0f0f0;
}

.content-program {
	padding: 30px 0px;
}

.content-program > div {
	padding: 0px 30px;
}

.program-box{
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	transition: 0.3s ease;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	margin-bottom: 50px;
	/*height: 510px;*/
	/*height: 78vh;*/
}

.program-box:hover{
	box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.program-desc {
	padding:10px 16px;
	/*line-height: 23px;*/
	/*color: #777;*/
	color: rgb(56,56,56);
	/*letter-spacing: 0.3px;*/
}
/* end section program*/

/*join us*/
.join-us {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 180px 0px;
}

.join-us h2 {
	color: #fff;
	font-family: "Raleway", sans-serif;
	vertical-align: middle;
	font-size: 60px;
}

.btn {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 33px;
	margin: auto;
	max-width: 300px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}
/*end of join us*/

/*background-parralax*/
.wrapper {
	border: 2px solid #f4f4f6 !important;
	background: #fff !important;
}

.parallax-window {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.6);
}

.second-images-slide {
	cursor: pointer;
}

.live-streaming {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	background: #800000;
	border-top: 3px solid #000;
	z-index: 9999999;
	display: none;
}

#top-header {
	width: 100%;
	background:#00af66;
	padding: 7px 100px;
	overflow: hidden;
	left: 0;
	top: -30px;
	position: absolute;
	max-height: 30px;
}

#top-header strong {
	color: #fff;
	font-family: sans-serif;
}

.margin-top-header {
	margin-top: 80px;
}

.footer-container {
	width: 100%;
	padding: 20px;
	background: #333;
	overflow: hidden;
}

.first-footer-column p {
	color: #ccc;
	font-weight: bold;
	line-height: 20px;
	margin-top: 20px;
}

.tagline p {
	text-align: center;
	font-style: italic;
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

.tagline {
	text-align: center;
	font-style: italic;
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

.footer-bottom {
	padding: 10px;
	background: #000;
	text-align: center;
	color: #fff;
}

.footer-bottom p {
	padding: 0;
	margin: 0;
}

.maps {
	width: 100%;
	height: 400px;
}

.top-header-email {
	text-align: right;
}

.top-header-phone {
	text-align: left;
}

@media (max-width: 1024px){
	#nav-icon1{
		display: block;
	}
	.nav-bar {
		display: none;
	}
	.first-header:after,
	.static-header:after{
		display: none;
	}
	#logo {
		padding-left: 0px;
		padding-right: 0px;
	}
	.top-header-phone {
		position: relative;
		width: 100%;
		text-align: center;
	}

	.top-header-email {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	#top-header {
		padding: 7px 0px;
		max-height: 80px;
		top: -55px;
	}

	#first-header {
		/*top: 30px;*/
	}

	#banner .title_banner{
		/*height: 380px;*/
		font-size: 35px;
	}

	#banner .theme_banner{
		/*height: 380px;*/
		font-size: 15px;
	}
}


.padding-20 {
	padding: 20px;
}

.garis {
	border-bottom: 2px solid #00af66;
	width: 50px;
	margin-bottom: 20px;
}

.garis-putih {
	border-bottom: 2px solid #fff;
	width: 50px;
	margin-bottom: 20px;
}


.iconbidang{
	font-size: 60px;
	text-align: center;
}
.iconjudul{
	font-size: 18px;
	padding: 10px;
}
.iconcontainer{
	padding: 15px 35px 15px 35px;
}
.imgprofile
{
  border-radius: 50%;
  border: 5px solid #00af66;
  width: 50%;
  margin: 0 auto;
}
.profilespeaker{
	font-size: 14px;
	padding: 5px;
}
.profilecontainer{
	padding: 10px;
}

.profilegaleri{
	padding: 10px 5px 10px 5px;
}

.address {
	padding: 30px 0px 60px;
}

.maps-text h3 {
	font-family: "BentonSans", arial;
	padding: 0;
	margin:6px 0px;
	letter-spacing: 1px;
}

.bidang-kajian-text ul li {
	margin: 10px 0px;
}

.margin-bottom-15 {
	margin-bottom: 25px !important;
}
.btn-flat
{
	border-radius: 0;
}
.greensipil{
	background-color: #00af66;
}
.brown-sipil {
	background: #482305; 
	border: 1px solid #482305;
}
.brown-sipil:hover,
.brown-sipil:active,
.brown-sipil:focus {
	background: #2b1401 !important;
	border: 1px solid #2b1401 !important;
}

.fa {
	margin-right: 4px;
}

#pembicara {
	padding: 50px;
}
/*media for iPad*/
@media screen and (width: 768px) , screen and (height: 1024px){

}

/*Galeri*/

/*#gallery {
  padding-top: 40px;
}
@media screen and (min-width: 991px) {
  #gallery {
    padding: 20px 0px 25px 0px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background-color: rgba(0, 175, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay img {
    width: 50%;
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  cursor : pointer;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  cursor : pointer;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}
*/

a:focus {
  outline: none;
}

.portfolioFilter {
  padding: 15px;
}

.portfolioFilter a {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background-color: #00af66;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}
.portfolioContainer{
  border: 1px solid #eee;
  border-radius: 3px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.tahun1,.tahun2,.tahun3 {
margin: 0px;
}

/* other */

/* Kegiatan */
.section-title{
	margin-bottom: 30px;
	text-align: center;
}
/* End Kegiatan */

/* important-dates */
.session-date{
  	padding: 15px 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    /*background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;*/
}
.set-table{
	font-size: 17px;
}

.btn-daftar {
	font-weight: bold;
}

.btn-daftar.focus, .btn-daftar:focus, .btn-daftar:hover,
.btn.focus, .btn:focus, .btn:hover{
	color: #fff;
	background-color: #1E824C;
}

.sidebar-wrap {
	overflow: hidden;
}

#important-dates {
	padding: 20px 0px 40px;
}

#call-for-papers {
	padding: 20px 0px 40px;
}

.left-side-call-for-papers {
	padding: 20px;
	border-right: 1px solid #7c461a;
}

.left-side-call-for-papers p,
.left-side-call-for-papers strong {
	line-height: 22px;
	color: #fff;
}

/* end important-dates  */
