<ul class="timeline">
			  <!-- Item 1 -->
			  <li>
			    <div class="direction-r">
			      <div class="flag-wrapper">
			        <span class="hexa"></span> <!-- Batas Akhir Penerimaan Abstrak -->
			        <span class="flag">Batas Akhir Penerimaan Abstrak</span> 
			        <span class="time-wrapper"><span class="time">18 Agustus 2018</span></span>
			      </div>
			      <!-- <div class="desc">Batas Akhir Penerimaan Abstrak</div> -->
			    </div>
			  </li>
			  <!-- Item 2 -->
			  <li>
			    <div class="direction-l">
			      <div class="flag-wrapper">
			        <span class="hexa"></span>
			        <span class="flag">Pengumuman Penerimaan Abstrak</span>
			        <span class="time-wrapper"><span class="time">25 Agustus 2018</span></span>
			      </div>
			      <!-- <div class="desc">Lorem ipsum In ut sit in dolor nisi ex magna eu anim anim tempor dolore aliquip enim cupidatat laborum dolore.</div> -->
			    </div>
			  </li>

			  <!-- Item 3 -->
			  <li>
			    <div class="direction-r">
			      <div class="flag-wrapper">
			        <span class="hexa"></span>
			        <span class="flag">Batas Akhir Full Paper</span>
			        <span class="time-wrapper"><span class="time">31 Agustus 2018</span></span>
			      </div>
			      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
			    </div>
			  </li>
			   <!-- Item 4 -->
			  <li>
			    <div class="direction-l">
			      <div class="flag-wrapper">
			        <span class="hexa"></span>
			        <span class="flag">Pelaksanaan Seminar Nasional</span>
			        <span class="time-wrapper"><span class="time">15 September 2018</span></span>
			      </div>
			      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
			    </div>
			  </li>
			</ul>



			<section class="timeline">
			  <ul>
			    <li>
			      <div>
			        <time>18 Agustus 2018</time>Batas Akhir Penerimaan Abstrak
			      </div>
			    </li>
			    <li>
			      <div>
			        <time>25 Agustus 2018</time>Pengumuman Penerimaan Abstrak
			      </div>
			    </li>
			    <li>
			      <div>
			        <time>31 Agustus 2018</time>Batas Akhir Full Paper
			      </div>
			    </li>
			    <li>
			      <div>
			        <time>15 September 2018</time>Pelaksanaan Seminar Nasional
			      </div>
			    </li>
			  </ul>
			</section>